apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: reflector
  namespace: flux-system
spec:
  interval: 24h
  url: oci://ghcr.io/emberstack/helm-charts/reflector
  ref:
    semver: 10.0.5
