apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sealed-secrets
  namespace: security
spec:
  releaseName: sealed-secrets-controller
  interval: 1h
  timeout: 5m
  chart:
    spec:
      chart: sealed-secrets
      version: 2.8.2
      sourceRef:
        kind: HelmRepository
        name: bitnami
        namespace: flux-system
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  values:
    fullnameOverride: "sealed-secrets-controller"
    rbac:
      create: true
      clusterRole: true
    resourcesPreset: "micro"
    metrics:
      enabled: false
