# Machine configuration
machine:

  # Kubectl
  kubelet:
    extraArgs:
      pod-infra-container-image: registry.k8s.io/pause:3.9

  # Network
  network:

    # Hostname
    hostname: hostname

    # Default nameservers
    nameservers:
      - 8.8.8.8
      - 1.1.1.1

  # Boot disk (wipe default partition table)
  install:
    disk: /dev/sda
    wipe: true

  # Time NTP
  time:
    disabled: false
    servers:
      - time.google.com
      - time.cloudflare.com
    bootTimeout: 5m0s

  # Kernel parameters for better performance
  kernel:
    modules:
      - name: br_netfilter
      - name: overlay
      - name: iscsi_tcp

  # Required for kube-proxy and CNI Calico
  sysctls:
    net.ipv4.ip_forward: "1"
    net.bridge.bridge-nf-call-iptables: "1"
    net.bridge.bridge-nf-call-ip6tables: "1"

  # Feature extension
  features:
    kubePrism:
      enabled: true
      port: 7445
    hostDNS:
      enabled: true
      forwardKubeDNSToHost: false

# Cluster configuration
cluster:

  # CNI: Cilium
  network:
    cni:
      name: none
      urls: 
        - https://raw.githubusercontent.com/abhishek-raut17/basecamp/refs/heads/main/manifests/static/cni/custom.cni.yaml
  proxy:
    disabled: true
  
  # Disable pod scheduling on control plane nodes
  allowSchedulingOnControlPlanes: false
